* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  line-height: 24px;
}
.main_text,
.h3_text,
.headline,
.load_more,
.navigation_list {
  font-family: "Playfair Display", serif;
  font-size: 14px;
}

.h3_text {
  font-family: "Ubuntu", sans-serif;
  text-transform: uppercase;
  color: #b4ad9e;
  font-size: 14px;
}

.headline {
  font-size: 30px;
}

.navigation_list {
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
  margin-top: 60px;
  margin-bottom: 0px;
  list-style: none;
}
.nav_list_item,
.nav_link_a {
  display: inline-block;
  width: 165px;
  text-decoration: none;
  color: #626262;
  height: 50px;
  line-height: 50px;
}

.nav_link_a:hover {
  color: rgb(85, 171, 228);
}

/* div {
  display: inline-block;
} */
.main_text,
.h3_text,
.headline {
  display: block;
  margin-top: 20px;
}
img {
  display: inline-block;
}
.load_more {
  width: 165px;
  height: 55px;
  font-size: 20px;
  background-color: #ffffff;
  border: 1px;
  border-style: solid;
  box-sizing: border-box;
}
.button {
  width: 100%;
  text-align: center;
  margin: 50px 0;
}
.container {
  width: 900px;
  margin: 0 auto;
}
.infoblock {
  display: inline-block;
  width: 420px;
  margin-top: 85px;
}
.infoblock:nth-child(odd) {
  margin-right: 55px;
}
.container {
  margin: 0px auto;
}
.main {
  width: 100%;
}
